name: "Tag release and hotfix branches on push"

on:
  push:
    branches: 
      - 'hotfix/**' 
      - 'release/**' 

jobs:
  tag-version:
    runs-on: 'ubuntu-latest'
    steps:

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
        versionSpec: '5.x'

    - name: 'Checkout'
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Determine Version
      id:   gitversion
      uses: gittools/actions/gitversion/execute@v0.9.7
      
    - name: Tag Version     
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions"
        git tag ${{ steps.gitversion.outputs.SemVer }}
        git push origin ${{ steps.gitversion.outputs.SemVer }} 

